@using Microsoft.AspNetCore.Identity
@using DivarClone.Areas.Identity.Data

@model IEnumerable<DivarClone.Models.Enroll>

@{
    <style>
    .badge {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    #editMenu {
        display: none;
        position: absolute;
        background-color: #f8f9fa;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .dropdown-menu.show {
        display: block;
    }
    </style>

    <div class="container mt-4" id="adminDash">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
			    <h4 class="mb-0">User Management</h4>
                <div class="input-group" style="width:300px;">
				    <input id="" type="text" class="form-control" placeholder="User" aria-label="Recipient's username" aria-describedby="button-addon2">
				    <button class="btn" type="button" id="button-addon2" onclick="" style="background-color:red;">search</button>
			    </div>
            </div>

            <div class="card-body p-4">
                <ol class="list-group list-group-flush">
                    @foreach (var user in Model)
                    {
                    <li class="list-group-item d-flex justify-content-between align-items-start py-3 border-bottom">
                        <div class="ms-2">
                            <h5 class="fw-bold">@user.Username</h5>
                            <p class="mb-1"><i class="bi bi-envelope-fill"></i> Email: @user.Email</p>
                            <p class="mb-1"><i class="bi bi-person-badge-fill"></i> Role: <span class="badge bg-info text-dark">@user.Role</span></p>

                            <div class="mt-2">
                                <h6 class="fw-bold">Permissions:</h6>
                                <div class="border rounded p-2" style="background-color:lightgray;">
                                    @foreach (var permission in @user.Permissions)
                                    {
                                        <span class="badge bg-primary text-white me-1" style="font-size: 0.90rem;">@permission</span>
                                    }
                                </div>
                            </div>

                            @if (@user.SpecialPermissions.Count >= 1){
                            <div class="mt-2">
                                <h6 class="fw-bold">Special Permissions:</h6>
                                    <div class="border rounded p-2" style="background-color:lightgray;">
                                    @foreach (var specialPermission in @user.SpecialPermissions)
                                    {
                                        <span class="badge bg-danger text-white me-1" style="font-size: 0.90rem;">@specialPermission</span>
                                    }
                                    </div>
                            </div>
                            }

                        <div class="ms-2">
                            <h5 class="fw-bold">change role to:</h5>

                            <button onclick="ChangeUserRole(1, @user.ID)">Admin</button>
							<button onclick="ChangeUserRole(2, @user.ID)">Privilaged User</button>
                            <button onclick="ChangeUserRole(3, @user.ID)">RegularUser</button>
                        </div>

                        <div class="ms-2">
                            <h5 class="fw-bold">Give Special Permission:</h5>

                            <button onclick="GiveUserSpecialPermission(1, @user.ID)">CanViewDashboard</button>
                            <button onclick="GiveUserSpecialPermission(2, @user.ID)">CanEditListings</button>
                            <button onclick="GiveUserSpecialPermission(3, @user.ID)">CanDeleteListings</button>
                            <button onclick="GiveUserSpecialPermission(4, @user.ID)">CanViewSpecialListing</button>
                            <button onclick="GiveUserSpecialPermission(5, @user.ID)">CanCreateListing</button>
                        </div>
                    </li>
                    }
                </ol>
            </div>

        </div>
    </div>
    <script>
        function ChangeUserRole(RoleId, UserId) {
            $.ajax({
                url: "@Url.Action("ChangeUserRole", "AdminDashboard")",
                type: "POST",
                data: {
                    Role: RoleId,
                    Id: UserId
                },

                success: function (result, status, xhr) {
                    alert("Result: " + status + " " + xhr.status + " " + xhr.statusText)
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        }

        function GiveUserSpecialPermission(PermissionId, UserId) {
            $.ajax({
                url: "@Url.Action("GiveUserSpecialPermission", "AdminDashboard")",
                type:"POST",
                data: {
                    PermissionId: PermissionId,
                    Id: UserId
                },

                success: function (result, status, xhr) {
                    alert("Result: " + status + " " + xhr.status + " " + xhr.statusText)
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        }
    </script>
}
