@model DivarClone.Models.Listing

@if (ViewBag.ModelStateErrors != null)
{
    <div class="alert alert-danger">
        <pre>@ViewBag.ModelStateErrors</pre>
    </div>
}

@{
    var categories = Enum.GetValues(typeof(Category)).Cast<Category>();
}

<form asp-action="Update" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="Name">تیتر آگهی</label>
        <input class="form-control" type="text" id="Name" name="Name" placeholder=@Model.Name asp-for="Name" />
    </div>

    <div class="mb-3">
        <label for="Description">توضیحات آگهی</label>
        <textarea class="form-control" id="Description" name="Description" asp-for="Description">@Model.Description </textarea>
    </div>

    <div class="mb-3">
        <label for="Price">قیمت</label>
        <input class="form-control" type="text" id="Price" name="Price" placeholder=@Model.Price asp-for="Price" />
    </div>

    <div class="mb-3">
        <label for="Category">دسته بندی</label>
        <select id="Category" name="Category" class="form-select" asp-for="Category">
            @foreach (var category in categories)
            {
                <option value="@category">@category</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="ImageFile">بارگذاری تصویر</label>
        <input type="file" class="form-control" id="ImageFile" name="ImageFile">
    </div>

    @if (Model.ImagePath != null && Model.ImagePath != "/images/No_Image_Available.jpg")
    {
        <img src="@Model.ImagePath" class="card-img-top" style="width:100%; height:300px; object-fit:cover;">
    }

	<input type="hidden" asp-for="Poster" value="@Model.Poster" />
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <button type="submit" class="btn btn-primary">ثبت</button>
</form>
