@model IEnumerable<DivarClone.Models.Listing>

@if (ViewBag.ModelStateErrors != null)
{
    <div class="alert alert-danger">
        <pre>@ViewBag.ModelStateErrors</pre>
    </div>
}

@{
    var categories = Enum.GetValues(typeof(Category)).Cast<Category>();
}

@foreach (var listing in Model)
{

<form asp-action="Update" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="Name">تیتر آگهی</label>
        <input class="form-control" type="text" id="Name" name="Name" placeholder="@listing.Name" asp-for="@listing.Name" />
    </div>

    <div class="mb-3">
        <label for="Description">توضیحات آگهی</label>
            <textarea class="form-control" id="Description" name="Description" asp-for="@listing.Description">@listing.Description</textarea>
    </div>

    <div class="mb-3">
        <label for="Price">قیمت</label>
            <input class="form-control" type="text" id="Price" name="Price" placeholder="@listing.Price" asp-for="@listing.Price" />
    </div>

    <div class="mb-3">
        <label for="Category">دسته بندی</label>
            <select id="Category" name="Category" class="form-select" asp-for="@listing.Category">
            @foreach (var category in categories)
            {
                <option value=@category>@category</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="ImageFile">بارگذاری تصویر</label>
        <input type="file" class="form-control" id="ImageFile" name="ImageFile">
    </div>

        <input type="hidden" asp-for="@listing.Poster" value="@listing.Poster" />
		<input type="hidden" asp-for="@listing.Id" value="@listing.Id" />
    <button type="submit" class="btn btn-primary" onClick="checkInput()">ثبت</button>
</form>
}

<script>
    function checkInput() {
        if ($('#ImageFile')[0].files.length === 0) {
            Alert("reverting image path to default");
        }
    }
</script>