@model IEnumerable<DivarClone.Models.Listing>

@foreach (var listing in Model){
    int listingId = @listing.Id;

    <h2>@listing.Name</h2>

    <div>
        <p>@listing.Description</p>
        <p>Price: @listing.Price</p>
        <p>Category: @listing.Category</p>
        <p>Posted by: @listing.Poster</p>
        <p>Date of Posting: @listing.DateTimeOfPosting.ToString("MM/dd/yyyy HH:mm:ss")</p>

        <div>
            @if (listing.ImageData != null && listing.ImageData.Any())
            {
                @if (listing.ImageData.Count > 1)
                {
                    @foreach (var image in listing.ImageData)
                    {
                        <img class="mySlides-@listing.Id" src="@image" alt="no img" style="display:none; width:100%; height:500px; object-fit:contain;" />
                    }
                    <button class="w3-button w3-display-left" onclick="plusDivs(-1, @listingId)">&#10094;</button>
                    <button class="w3-button w3-display-right" onclick="plusDivs(+1, @listingId)">&#10095;</button>

                    <script>
                        document.querySelector(".mySlides-@listing.Id").style.display = "block";
                    </script>
                }
                else
                {
                    <img src="@listing.ImageData[0]" alt="no img" />
                }
            }
            else
            {
                <p>No images available</p>
            }
        </div>
    </div>
    <script>
        var slideIndex = 1;

        showDivs(slideIndex, listingId);

        function plusDivs(n, listingId) {
            showDivs(slideIndex += n, listingId);
        }

        function showDivs(n, listingId) {
            var i;
            var slides = document.getElementsByClassName("mySlides-" + listingId);
            
            if (n > slides.length) { slideIndex = 1; }
            if (n < 1) { slideIndex = slides.length; }

            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
    </script>
}
