@using Microsoft.AspNetCore.Identity
@using DivarClone.Areas.Identity.Data
@using Microsoft.JSInterop

@inject SignInManager<DivarCloneUser> SignInManager
@inject UserManager<DivarCloneUser> UserManager
@inject IJSRuntime jsRuntime

@{
    ViewData["Title"] = "دیوار";
}
@model IEnumerable<DivarClone.Models.Listing>

<style>
    figure.zoom {
        position: relative;
        overflow: hidden;
        cursor: zoom-in;
        background-size: cover;
        background-position: center;
        transition: transform 0.5s;
    }

    figure.zoom img {
        max-width: 100%;
        max-height: 300px;
        min-height: 200px;
        object-fit: cover;
        transition: opacity .5s, transform .5s ease
    }

    figure.zoom img:hover{
        opacity: 0;
        transition-delay: 1s;
    }

    figure.zoom:hover {
        transform: scale(1.5);
        background-size: 150%;
        background-repeat: no-repeat;
		z-index: 10;
        transition-delay: 1s;
	}
</style>


@if (ViewBag.ModelStateErrors != null)
{
    <div class="alert alert-danger">
        <pre>@ViewBag.ModelStateErrors</pre>
    </div>
}

<h1 class="custom-font">آگهی ها</h1>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-10" id="listingCardContainer">
            <div class="row" id="listingCard"></div>
            <div id="listingForm"></div>
        </div>

        <div id="PartialZoneUserControl" class="col-md-2"></div>

    } else  {
        <div class="row" id="listingCard"></div>
    }
</div>
@section Scripts{
    <script>
        $('#PartialZoneUserControl').load("/Home/UserControlPartial")
    </script>

    <script>
        document.getElementById("listingCard").innerHTML += (`
        @if (!Model.Any())
        {
            <p>آگهی یافت نشد</p>
        } else {
            @foreach (var listing in Model)
            {
            <div class="col-md-4" style="margin-bottom:25px;">
                <div class="card h-100">

                <img src="@listing.ImageData[0]" class="card-img-top" style="width:100%; height:300px; object-fit:cover; alt="no img"/>

                <div class="card-body">

                <h5 class="card-title">
                    <a href="@Url.Action("Details", "Listings", new { id = listing.Id })">@listing.Name</a>
                </h5>
                    <p class="card-text">@listing.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price : @listing.Price</li>
                    <li class="list-group-item">Category : @listing.Category</li>
                    <li class="list-group-item">Poster : @listing.Poster</li>
                </ul>
                <div class="card-body">
                    <small class="text-muted">@listing.DateTimeOfPosting.ToString("MM/dd/yyyy HH:mm:ss")</small>
                </div>
                        @if (listing.Poster == @UserManager.GetUserName(User) || (User.IsInRole("Admin")))
                        {
                    <div class="card-footer">
                        <a class="btn btn-danger ms-2" onclick=deleteListing(@listing.Id)>حذف</a>
                        <a class="btn btn-danger ms-2" onclick=editListing(@listing.Id)>ویرایش</a>
                    </div>
                }
                </div>
            </div>

            }
        }`)

    </script>
    <script>
        function deleteListing(listingId) {
            window.location.href = `@Url.Action("DeleteUserListing", "Home")?id=${listingId}`;
        }

        function editListing(listingId) {
            window.location.href = `@Url.Action("EditListing", "AddListing")?id=${listingId}`;
        }

        function zoom(e) {
            var zoomer = e.currentTarget;
            var offsetX, offsetY;

            if (e.offsetX) {
                offsetX = e.offsetX;
                offsetY = e.offsetY;
            } else if (e.touches) {
                offsetX = e.touches[0].pageX - zoomer.offsetLeft;
                offsetY = e.touches[0].pageY - zoomer.offsetTop;
            }

            var x = (offsetX / zoomer.offsetWidth) * 100;
            var y = (offsetY / zoomer.offsetHeight) * 100;
            zoomer.style.backgroundPosition = x + '% ' + y + '%';
        }


	</script>
}