@model DivarClone.Models.Enroll
@{
    ViewBag.Title = "عضویت";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enrollment</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container register m-3" style="height:70vh;">
        <div class="row">
            <div class="col-md-3 register-left">
                <a class="nav-link text-dark"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index"
                   style="display: inline-block; height: 50px; width: 80px;
                                  background-image: url('/icon.png');
                                  background-size: contain;
                                  background-repeat: no-repeat;">
                </a>
                <h2 style="text-align:end;">خوش آمدید</h2>
                <p style="font-size:25px; text-align:end;">دیوار مرجع اصلی نیازمندی های رایگان و خرید و فروش کالای نو و دست دوم. نیازمندی های املاک، خودرو، استخدام، لوازم خانه، خدمات و سایر بخش های مورد نظر شما.</p>
            </div>

            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-selected="true">عضویت</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#" role="tab" onclick="window.location.href='@Url.Action("UserLogin", "Enrollement")'">ورود</a>
                    </li>
                </ul>

                <div class="tab-content mt-3" id="myTabContent" style="background-color:rgb(220, 53, 69); border-radius:20px;">
                    <div class="tab-pane fade show active" id="register" role="tabpanel">
                        <h3 class="register-heading pt-4" style="text-align:center; color:white; text-shadow:0px 0px 3px white;">عضویت به عنوان کاربر</h3>

                        @using (Html.BeginForm("register", "Enrollement", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group m-4" style="box-shadow:0px 0px 2px gray;">
                                        @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control", placeholder = "نام" })
                                        @Html.ValidationMessageFor(e => e.FirstName)
                                    </div>
                                    <div class="form-group m-4" style="box-shadow:0px 0px 2px gray;">
                                        @Html.TextBoxFor(e => e.Username, new { @class = "form-control", placeholder = "نام کاربری", autocomplete = "new-username" })
                                        @Html.ValidationMessageFor(e => e.Username)
                                    </div>
                                    <div class="form-group m-4" style="box-shadow:0px 0px 2px gray;">
                                        @Html.PasswordFor(e => e.Password, new { id = "password", @class = "form-control", placeholder = "رمز عبور" })
                                        <span id="result"></span>
                                        @Html.ValidationMessageFor(e => e.Password)
                                    </div>
                                    <div class="form-group m-4" style="box-shadow:0px 0px 2px gray;">
                                        @Html.PasswordFor(e => e.Confirmpwd, new { @class = "form-control", placeholder = "تایید رمز عبور" })
                                        @Html.ValidationMessageFor(e => e.Confirmpwd)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-4" style="box-shadow:0px 0px 2px gray;">
                                        @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = "ایمیل", autocomplete = "username"})
                                        @Html.ValidationMessageFor(e => e.Email)
                                    </div>
                                    <div class="form-group m-4" style="box-shadow:0px 0px 2px gray;">
                                        @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control", placeholder = "شماره تماس" })
                                        @Html.ValidationMessageFor(e => e.PhoneNumber)
                                    </div>
                                    <input type="submit" class="btn btn-primary btnRegister" value="عضویت" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var msg = '@ViewData["result"]';
            if (msg === '1') {
                alert("User details inserted successfully");
                window.location.href = '@Url.Action("register", "Enrollement")';
            }
        });
    </script>
</body>
</html>
